priority -50

extends javascript

snippet rfc "React function component" b
import React from 'react';
import './`!v expand('%:t:r')`.scss';

const ${1:`!v expand('%:t:r')`} = () => {
	return ${2}
}

export default ${1};
endsnippet
